.nav{
   
    background-color: green;
    padding: 20px;
  }


.item a {
  color: black;
  font-size: 20px;
  text-decoration: none;
}

.item {
  padding-bottom: 10px;
}

.item a.active {
  color: white;
}

.friends a.active {
  color: white;
  text-decoration: overline;

}

.friends a {
  color: black;
}


.friends {
  /* color: black; */
  font-size: 50px;
  font-weight: 600;
  padding-top: 200px;
}